<div id="experiences" class="container">

<h2>Experience</h2>
<div class="experience row">
    <div class="col-md-4">
        <h5>IDB Bank | Compliance System Testing Consultant</h5>
        <p class="experience-period">Feb 2020 - present | New York, NY</p>
    </div>
    <div class="col-md-8">
        <p>
            <span class="xperience-description">
                <li>Testing system functionality and using Jira to escalate issues to system implementation 
                    team.</li>
                <li>Worked with a specialized team of consultants on transitioning the bank’s compliance 
                    department from the Mantas to the Actimize transaction monitoring system.</li>
            </span>
        </p>
    </div>
</div>
<hr>
<div class="experience row">
    <div class="col-md-4">
        <h5>MakerBot Industries | Technical Support Specialist</h5>
        <p class="experience-period">Sept 2019 - Feb 2020 | New York, NY</p>
    </div>
    <div class="col-md-8">
        <p>
            <span class="experience-description">
                <li>Provided customer support and troubleshooting for MakerBot 3D printers, including computer 
                    compatibility and connectivity issues.</li>
                <li>Used Salesforce to track and resolve customer cases and issues.</li>
            </span>
        </p>
    </div>
</div>
<hr>
<div class="experience row">
    <div class="col-md-4">
        <h5>Founder and Principal Consultant | CN Consulting, LLC</h5>
        <p class="experience-period">May 2019 - present | New York, NY and Browning, MT</p>
    </div>
    <div class="col-md-8">
        <p>
            <span class="experience-description">
                <span>Most Recent Project:</span>
                <li>Consulted on a Blackfeet Tribal Nation project to export beef and bison raised using 
                    traditional systems. The proceeds are used to benefit underprivileged members of the tribe.</li>
                <li>Combined deep knowledge of Blackfeet culture with conventions of international trade to provide 
                    necessary advice in navigating the compliance and legal landscape of livestock exports.</li>
            </span>

        </p>
    </div>
</div>
<hr>
<div class="experience row">
    <div class="col-md-4">
        <h5>AML Investigation Consultant (Contract) | KPMG</h5>
        <p class="experience-period">April 2019 - June 2019 | New York, NY</p>
    </div>
    <div class="col-md-8">
        <p>
            <span class="experience-description">
                <li>Part of a 30+ AML investigation consultant team on a transaction monitoring alert look-back 
                    project conducting investigations on suspicious activity related to money laundering, 
                    terrorist-financing, and BSA (Bank Secrecy Act) violations.</li>
                <li>Drafted SARs and made investigation recommendations in line with regulatory and reporting 
                    guidelines.</li>
            </span>

        </p>
    </div>
</div>
<hr>
<div class="experience row">
    <div class="col-md-4">
        <h5>OFAC Sanctions Compliance Analyst (Intern) | Société Générale Corporate and Investment Banking</h5>
        <p class="experience-period">July 2018 - April 2019 | New York, NY</p>
    </div>
    <div class="col-md-8">
        <p>
            <span class="experience-description">
                <li>Built Excel-based tools to standardize departmental metrics reporting and processing tasks.</li>
                <li>Developed an updated framework for investigating and preemptively screening transactions with a 
                    potential North Korean sanctions nexus through conducting research on Chinese and Russian entities.</li>
                <li>Wrote and presented weekly reports for senior management on sanctions compliance updates, including 
                    making recommendations to ongoing internal banking operational policy.</li>
                <li>Screened trade finance and commodities cases to ensure no sanctions nexus.</li>
                <li>Gained familiarity with all aspects of US OFAC sanctions programs, including general license 
                    exceptions particularly for Iran, Cuba, and Venezuela, as well as sectoral sanctions on the Russian 
                    energy sector.</li>
            </span>

        </p>
    </div>
</div>
<hr>
<div class="experience row">
    <div class="col-md-4">
        <h5>KYC Due Diligence Consultant | JP Morgan Chase</h5>
        <p class="experience-period">April 2018 - July 2018 | New York, NY</p>
    </div>
    <div class="col-md-8">
        <p>
            <span class="experience-description">
                <li>Became the team’s go-to person for analysis of extremely complex business structures, 
                    large business entities, and ultra-high net worth individuals.</li>
                <li>Trained new analysts on best practices and analysis techniques as part of onboarding.</li>
            </span>

        </p>
    </div>
</div>
</div>

<hr>

<div id="education" class="container">
<h2>Education</h2>
<div class="education row">
    <div class="col-md-12">
        <h5>Udemy | Front-End Development Certificates</h5>
        <p class="experience-period">2020 | Online</p>
    </div>
    <div class="col-md-8">
        <p>
            <span class="experience-description">Completed courses on Javascript, Angular, and NodeJS</span>
        </p>
    </div>
</div>
<hr>
<div class="education row">
    <div class="col-md-12">
        <h5>Middlebury Institute of International Studies at Monterey | M.A. International Trade and Economic Diplomacy</h5>
        <p class="education-details">December 2017 | Monterey, CA</p>
    </div>
    <div class="col-md-8">
        <p>
            <span class="experience-description"></span>
        </p>
    </div>
</div>
<hr>
<div class="education row">
    <div class="col-md-12">
        <h5>Portland State University | B.A. International Economic Development: East Asia and the Middle East</h5>
        <p class="education-details">June 2015 | Portland, OR</p>
    </div>
    <div class="col-md-8">
        <p>
            <span class="experience-description"></span>
        </p>
    </div>
</div>
<hr>
<div class="education row">
    <div class="col-md-12">
        <h5>Tianjin Foreign Studies University | Intensive Mandarin Chinese Language Certificate</h5>
        <p class="education-details">April 2015 | Tianjin, China</p>
    </div>
    <div class="col-md-8">
        <p>
            <span class="experience-description"></span>
        </p>
    </div>
</div>



