<div class="card text-center">
    <div class="card-header">
      <h4>Meet Alex!</h4>
    </div>
    <div class="card-body">
      <!-- <h5 class="card-title">About</h5> -->
      <p class="card-text">
        I’m a front-end developer specializing in Angular and NodeJS. I have extensive experience working 
        with several large investment banks in the areas of compliance and financial crimes investigation. In 
        addition to acting as a specialist in financial sanctions and money laundering, I developed KYC (know-your-customer) 
        and AML (anti-money laundering) automations which greatly streamlined departmental efficiency. Currently, 
        I am working with IDB Bank on improving their new transaction monitoring technology by providing 
        domain-specific knowledge, QA support, and bug reports.
      </p>
      <p>
        If you’re looking for someone with web or front-end development skills, let’s talk at <span class="email">alexandra@cnconsultingllc.com</span>
      </p>
      <a href="#" 
        class="btn btn-primary navbar-brand"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
        routerLink="/cv">
        CV</a>
    </div>
  </div>




<!-- <div container="title">
    <h3>Background/Short Bio</h3>
</div>
 -->
